body {
  background-color: #282b33;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper canvas {
  background-color: #393a45;
}
